<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Trainingsessions/Java/Batch35/Projectpombatch35">
        <classes>
            <class name="tests.EducationTests">
                <methods>
                    <include name="addNewEducation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>